.event_dashboard{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    gap: 1em;
}

.card_body_events{
    height: 65vh;
    overflow-y: auto;
}

.create_modal_footer{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.button_section > button {
    margin-left: 0.5em;
}

.float-sm-right > svg {
    margin-left: 0.5em;
}

.card_event{
    margin-bottom: 0.5em;
}

.event_grid{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    gap: 0.5em;
    grid-gap: 0.5em;
}

.event_icon{
    margin: auto;
    font-size: 1.5em;
}

.guest_section{
    display: grid;
    grid-template-rows: 30% 70%;
}

.event_header_card{
    display: grid;
    grid-template-columns: 70% 30%;
}

.confirm_event_container{
    height: 70vh;
    display: grid;
    grid-template-rows: 8% 92%;
    text-align: center;
}

.confirm_event_report{
    display: grid;
    grid-template-columns: 50% 50%;
}

.confirm_event_report > div {
    padding: 0.5em;
}

.confirm_header_list{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.confirm_guest_item > div { margin: auto; }

.confirm_guest_list_card{ height: 100%; }
.confirm_table_report_card {height: 100%; }
.confirm_guest_item {
    padding: 0.4em;
    display: grid !important;
    grid-template-columns: 33% 33% 33%;
}

.confirm_table_report_grid{
    display: grid !important;
    grid-template-rows: 10% 90%;
    gap: 0.5em;
    grid-gap: 0.5em;
}

.confirm_table_details{
    display: grid !important;
    grid-template-columns: 50% 50%;
}

.confirm_guest_item_title{ font-size: 0.8em;}

.confirm_table_guest_report{ 
    padding: 0.5em;
    height: 42vh;
    overflow-y: auto;
}

.confirm_table_details_item {margin: auto;}

.details_grid{
    display: grid;
    grid-template-rows: 16% 84%;
    gap: 0.5em;
    grid-gap: 0.5em;
}

.status_grid{
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0.2em !important;
}

.event_name { text-align: left; }
.event_tools { margin: auto; }
.status_item {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: auto; 
}
.status_item > svg { margin: auto; }

.span_event {
    font-size: 0.8em; 
    margin-top: 0.5em;
    text-align: center;
}

.guest_container{
    display: grid !important;
    grid-template-rows: 14% 86%;
}

.guest_header{
    padding: 0.5em !important;
    display: grid;
    grid-template-columns: 50% 50%;
}

.guest_list{
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    text-align: center;
}

.guest_list_container{
    height: 100%;
    overflow-y: auto;
}

.guest_list_container > div {
    margin-bottom: 0.5em;
}

.guest_card{
    display: grid !important;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0.4em;
    font-size: 0.8em;
}

.guest_card > div {
    margin: auto;
}

.guest_list_header {
    display: grid !important;
    grid-template-columns: 25% 25% 25% 25%;
    font-size: 0.8em;
    margin-bottom: 0.4em;
}

.guest_tools > button{
    margin-left: 0.4em;
    font-size: 0.8em !important;
}